<div class="post">
  <div class="post-header-inline">
    <img src="{{post.avatar_url}}" alt="{{post.username}}'s avatar" class="post-avatar-inline">
    <a href="/@{{post.username}}" class="post-username-link-inline">{{post.username}}</a>
  </div>
  {{#with (splitLines post.content) as |lines|}}
    <div class="post-title-inline">{{lines.[0]}}</div>
  {{/with}}
  <a href="/post/{{post.id}}" class="btn btn-view-post">View Post</a>
</div>