<div class="card search-results-card">
  <h2 class="search-results-heading">Search Results for "{{q}}"</h2>

  <div class="search-section search-users-section">
    <h3 class="search-section-heading">Users</h3>
    {{#if users.length}}
      <ul class="search-results-list">
        {{#each users}}
          <li class="search-results-item">
            <a href="/profile/{{this.id}}" class="search-result-link search-user-link">
                {{this.username}}
            </a>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p class="no-results-message">No users found.</p>
    {{/if}}
  </div>

  <div class="search-section search-posts-section">
    <h3 class="search-section-heading">Posts</h3>
    {{#if posts.length}}
      <ul class="search-results-list">
        {{#each posts}}
        {{log this}}
          {{> post post=this}}
        {{/each}}
      </ul>
    {{else}}
      <p class="no-results-message">No posts found.</p>
    {{/if}}
  </div>
</div>