<div class="card search-results-card">
  <h2 class="search-results-heading">{{t "search.results_for" q=q}}</h2>

  <div class="search-section search-users-section">
    <h3 class="search-section-heading">{{t "search.users"}}</h3>
    {{#if users.length}}
      <ul class="search-results-list">
        {{#each users}}
          <li class="search-results-item search-user-item"> <a href="/profile/{{this.id}}" class="search-result-link search-user-link">
                <img src="{{this.avatar_url}}" alt="{{this.username}}'s avatar" class="search-user-avatar"> <span class="search-username-text">{{this.username}}</span> </a>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p class="no-results-message">{{t "search.no_users"}}</p>
    {{/if}}
  </div>

  <div class="search-section search-posts-section">
    <h3 class="search-section-heading">{{t "search.posts"}}</h3>
    {{#if posts.length}}
      <ul class="search-results-list">
        {{#each posts}}
          {{> post post=this}}
        {{/each}}
      </ul>
    {{else}}
      <p class="no-results-message">{{t "search.no_posts"}}</p>
    {{/if}}
  </div>
</div>