<div class="card">
  <h2>{{t "auth.login"}}</h2>
  {{> error error=error}}
  <form action="/auth/login" method="POST">
    <div>
      <label for="username">{{t "auth.username"}}</label>
      {{#if prefilled_username}}
        <input type="text" id="username" name="username" value="{{prefilled_username}}" required>
      {{else}}
        <input type="text" id="username" name="username" required>
      {{/if}}
    </div>
    <div>
      <label for="password">{{t "auth.password"}}</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div>
      <button type="submit" class="btn">{{t "auth.login"}}</button>
    </div>
  </form>
  <div>
    <p>{{{t "auth.dont_have_account"}}}</p>
  </div>
</div>