<div class="card">
  <h2>{{t "auth.signup"}}</h2>
  {{> error error=error}}
  <form action="/auth/signup" method="POST">
    <div>
      <label for="username">{{t "auth.username"}}</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="email">{{t "auth.email"}}</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div>
      <label for="password">{{t "auth.password"}}</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div>
      <button type="submit" class="btn">{{t "auth.signup"}}</button>
    </div>
  </form>
  <div>
    <p>{{{t "auth.already_have_account"}}}</p>
  </div>
</div>